<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BetCycle" value="7"/>    
    <add key="LotteryName" value="tsssc"/>
    <add key="GameNumber" value="30"/>
    <add key="GameInterval" value="60000"/>
  </appSettings>
</configuration>